<div class="container">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h4 class="pull-left">Submit a Post</h4>
        <button class="btn btn-primary pull-right" style="margin-left: 3px;"><i
          class="glyphicon glyphicon-save"></i> Submit
        </button>
        <a [routerLink]="['/posts']" class="btn btn-default pull-right"><i
          class="glyphicon glyphicon-circle-arrow-left"></i> Cancel </a>
      </div>
    </div>
    <form class="form-horizontal" (submit)="onSubmit(form)" #form="ngForm">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="form-group">

          <label for="title" class="col-lg-2 control-label">Title</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" id="title" name="title" ngModel>
          </div>
        </div>
        <div class="form-group">
          <label for="content" class="col-lg-2 control-label">Content</label>
          <div class="col-lg-10">
            <textarea class="form-control" rows="3" id="content" name="content" ngModel></textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="tags" class="col-lg-2 control-label">Tags</label>
          <div class="col-lg-10">
            <input type="text" id="tags" class="form-control" name="tags" ngModel>
            <span class="help-block">Comma (,) separated list of tags</span>
          </div>
        </div>
        <div class="form-group">
          <label for="featuredImage" class="col-lg-2 control-label">Featured Image</label>
          <div class="col-lg-10">
            <input type="text" id="featuredImage" class="form-control" name="featuredImage" ngModel>
            <span class="help-block">Add a URL of your image</span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <a type="reset" class="btn btn-default" routerLink="/posts">Cancel</a>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
