<div class="container">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h4 class="pull-left">Submit a Post</h4>
        <button class="btn btn-primary pull-right" style="margin-left: 3px;"><i
          class="glyphicon glyphicon-save"></i> Submit
        </button>
        <a [routerLink]="['/posts']" class="btn btn-default pull-right"><i
          class="glyphicon glyphicon-circle-arrow-left"></i> Cancel </a>
      </div>
    </div>
    <form class="form-horizontal">
      <div class="col-sm-8">
        <div class="form-group">

          <label for="inputTitle" class="col-lg-2 control-label">Title</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" id="inputTitle" >
          </div>
        </div>
        <div class="form-group">
          <label for="textArea" class="col-lg-2 control-label">Content</label>
          <div class="col-lg-10">
            <textarea class="form-control" rows="3" id="textArea"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="tagsInput" class="col-lg-2 control-label">Tags</label>
          <div class="col-lg-10">
            <input type="text" id="tagsInput" class="form-control">
            <span class="help-block">Comma (,) separated list of tags</span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <button type="reset" class="btn btn-default">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="well">
          <div class="form-group">
            <label for="imageInput" class="col-lg-2 control-label">Featured Image</label>
            <div class="col-lg-10">
              <input type="file" id="imageInput" class="form-control">
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
