<div class="row">
  <div class="col-sm-12">
    <div class="jumbotron">
      <h1 class="text-capitalize">WELCOME TO BLOG</h1>
      <p class="text-justify">A BLOG is a regularly updated website or web page, typically one run by an individual or small group, that is written in an informal or conversational style. This BLOG is open for all, everyone can post their thoughts. (Your post will be visible once approved by an administrator). </p>
      <p class="text-center">
        <a class="btn btn-primary btn-lg" [routerLink]="['posts']"><i class="glyphicon glyphicon-list-alt"></i> See Recent Posts</a>
        <a class="btn btn-success btn-lg" [routerLink]="['/posts/add']"><i class="glyphicon glyphicon-plus-sign"></i> Submit a Post</a>
      </p>
    </div>
  </div>
</div>
