<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <a [routerLink]="['/posts/add']" class="btn btn-success pull-right"><i
          class="glyphicon glyphicon-plus-sign"></i> Submit a Post</a>
      </div>
    </div>
    <div *ngIf="searchQuery">
      <span *ngIf="posts" class="text-muted text-center">{{posts.length}} Posts found for search term: {{searchQuery}}</span>
    </div>
    <hr>
    <app-single-post *ngFor="let post of posts.reverse()" [post]="post"></app-single-post>
  </div>
</div>

